.record__content-wrapper {
  max-width: 600px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.record__content {
  flex-grow: 1;
  overflow: scroll;
}

.record__title {
  text-align: center;
  margin: 0 0 30px;
}

.record__fields {
  display: grid;
  gap: 25px;
}

.record__item-title {
  margin: 0 0 15px;
}

.record__item-content {
  margin: 0;
}

.record__services-item {
  margin-bottom: 5px;
}

.record__controls {
  position: absolute;
  top: -35px;
  right: -35px;
  display: flex;
  align-items: center;
}

.record__button {
  margin: 0;
  padding: 5px 8px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  border: 2px solid white;
}

.record__button:not(:last-of-type) {
  margin-right: 10px;
}

.record__button:hover {
  opacity: 0.6;
}

.record__button:active {
  opacity: 0.3;
}

.record__button_type_close {
  width: 25px;
  height: 25px;
  padding: 0;
  background: white url("./img/icon-close.svg") no-repeat center;
  background-size: 50%;
}

.record__button_type_delete {
  color: #ff0000;
  border-color: red;
}

.record__button_type_delete:hover {
  color: white;
  background-color: red;
  border-color: red;
  opacity: 1;
}

.record__info {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white url("img/icon-info.svg") no-repeat center;
  background-size: cover;
  margin-right: 10px;
  cursor: pointer;
}

.record__info:hover {
  opacity: 0.6;
}

.record__tooltip {
  width: 300px;
  padding: 15px;
  opacity: 0;
  border-radius: 15px;
  border: 2px solid #ff0000;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.25);
  background-color: white;
  position: absolute;
  z-index: -2;
  top: 15px;
  transition: all 100ms linear;
}

.record__tooltip_shown {
  opacity: 1;
  z-index: 200;
  transition: all 100ms linear;
}

.record__tooltip-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.record__tooltip-content {
  margin: 0 0 10px;
}

.record__tooltip-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.record__tooltip-item:not(:last-child) {
  margin-bottom: 10px;
}
