.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.popup_type_delete {
  z-index: 20;
}

.popup__content {
  width: 80%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  position: relative;
}

.popup__header {
  text-align: center;
  margin: 0;
}

.popup__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -40px;
  right: -45px;
}
.popup__controls_pos_bottom {
  margin-top: 40px;
  position: initial;
}

.popup__button {
  border: 2px solid white;
  padding: 5px 8px;
  margin: 0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;

  transition: all 200ms ease;
}
.popup__button:hover {
  opacity: 0.6;
}
.popup__button:active {
  opacity: 0.3;
}
.popup__button:disabled,
.popup__button:disabled:hover,
.popup__button:disabled:active {
  opacity: .3;
  color: black;
  background-color: white;
  border-color: black;
  cursor: not-allowed;
}
.popup__button:not(:last-of-type) {
  margin-right: 10px;
}

.popup__button_action_close {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background: white url("../../assets/img/icon-close.svg") no-repeat center;
  background-size: 50%;
}
.popup__button_action_save {
  border-color: #0055ff;
  color: #0055ff;
}
.popup__button_action_save:hover {
  background-color: #0055ff;
  color: white;
  opacity: 1;
}
.popup__button_action_favorite {
  width: 35px;
  height: 35px;
  border: none;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}
.popup__button_action_favorite:hover {
  opacity: 1;
}
.popup__button_action_edit {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background: white url("../../assets/img/icon-edit.svg") no-repeat center;
  background-size: 50%;
}
.popup__button_action_delete {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background: white url("../../assets/img/icon-delete.svg") no-repeat center;
  background-size: 50%;
}
.popup__button_action_activate {
  margin-right: 10px;
  padding-top: 7px;
}

.popup__button_danger {
  background-color: white;
  color: red;
  border-color: red;
}
.popup__button_danger:hover {
  background-color: red;
  color: white;
  opacity: 1;
}

.popup__button_readonly:hover {
  cursor: default;
  opacity: 1;
}

.popup__textarea {
  margin-top: 30px;
  width: 100%;
  resize: none;
  padding: 5px;
}
.popup__textarea:read-only {
  border: none;
}

.popup__resource-link {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #0072ff;
  transition: all 300ms ease;
}
.popup__resource-link:hover {
  opacity: .6;
}

.popup__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.popup__checkbox-text {
  padding-left: 10px;
  user-select: none;
  cursor: pointer;
}

.popup__checkbox-replacement {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/star.svg") no-repeat center;
  background-size: 80%;

  transition: all 200ms ease;
  cursor: pointer;
}
.popup__checkbox-input:checked + .popup__checkbox-replacement {
  background: url("../../assets/img/star-filled.svg") no-repeat center;
  background-size: 80%;
}
.popup__checkbox-replacement:hover {
  transform: scale(1.3);
}
.popup__checkbox-replacement:active {
  transform: scale(1.5);
}
