* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #f1f1f1;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #e3e3e3;
  width: 100%;
  padding: 24px 20px;
}

.header__inner {
  margin: 0 auto;
  max-width: 800px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  margin: 0;
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.header__user-name {
  margin: 0 10px 0 0;
}

.header__rollup-btn {
  cursor: pointer;
  margin: 0;
  border: none;
  width: 16px;
  height: 16px;
  padding: 5px;
  background: transparent url("../img/icon-rollup.svg") no-repeat 3px 4px ;
  background-size: 10px 10px;
}

.header__rollup-btn:hover {
  opacity: .6;
}

.header__rollup-btn:hover {
  opacity: .3;
}

.header__user-menu {
  width: 100%;
  position: absolute;
  top: 30px;
  background-color: white;
  border-radius: 5px;
}

.header__logout {
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: center;
  padding: 5px 8px;
  color: red;
  background: transparent;
}

.header__logout:hover {
  opacity: .6;
}

.header__logout:active {
  opacity: .3;
}

.header__auth-button {
  cursor: pointer;
  border: 2px solid #727272;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: transparent;
  margin: 0;
}

.header__auth-button:hover {
  opacity: .6;
}

.header__auth-button:active {
  opacity: .3;
}

.table-section {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__wrapper {
  overflow: auto;
  max-height: 600px;
  width: 100%;
  max-width: 800px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.table {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}

.table__head {
  font-size: 14px;
  font-weight: bold;
  min-height: 30px;
}

.table__row {
  border-bottom: 1px solid #104673;
}
.table__row:nth-child(2n) {
  background-color: #f3f3f3;
}
.table__row:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.table__cell {
  margin: 0;
  font-size: 12px;
  padding: 10px 15px;
}
.table__cell_header {
  background-color: #e3e3e3;
  position: sticky;
  top: 0;
}

.table__controls {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.table__button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: none;
  background-size: cover;
  background-color: transparent;
}

.table__button:hover {
  opacity: .6;
}

.table__button:active {
  opacity: .3;
}

.table__button_type_delete {
  background-image: url("../img/icon-delete.svg");
}

.table__button_type_edit {
  background-image: url("../img/icon-edit.svg");
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
}

.popup__content {
  width: 80%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  position: relative;
}

.popup__header {
  text-align: center;
  margin: 0;
}

.popup__controls {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.popup__button {
  border: 2px solid black;
  padding: 5px 8px;
  margin: 0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup__button:hover {
  opacity: .6;
}

.popup__button:active {
  opacity: .3;
}

.popup__button:not(:last-of-type) {
  margin-right: 20px;
}

.popup__button_danger {
  background-color: white;
  color: red;
  border-color: red;
  font-size: 18px;
}

.lock {
  width: 100%;
  max-width: 800px;
  padding: 0 40px;
  margin: 70px auto 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.lock__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.lock__image {
  display: block;
  width: 200px;
  opacity: .3;
}

.lock__text {
  text-align: center;
  max-width: 450px;
  margin: 20px;
  line-height: 1.15;
  opacity: .4;
}

.auth-form {
  position: relative;
}

.popup__close-btn {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none;
  top: -25px;
  right: -25px;
  background: white url("../img/icon-close.svg") no-repeat center;
  background-size: 50%;
}

.popup__close-btn:hover {
  opacity: .6;
}

.popup__close-btn:active {
  opacity: .3;
}

.auth-form__form {
  display: flex;
  flex-direction: column;
}

.auth-form__title {
  margin: 0 0 20px;
  text-align: center;
}

.auth-form__input-wrapper {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.auth-form__input-wrapper:not(:last-of-type) {
  margin-bottom: 15px;
}

.auth-form__button {
  cursor: pointer;
  padding: 5px 8px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
}

.auth-form__button:hover {
  opacity: .6;
}

.auth-form__button:active {
  opacity: .3;
}

.auth-form__button:not(:last-of-type) {
  margin-right: 20px;
}

.auth-form__button_type_reset {
  color: red;
  border-color: red;
}

.auth-form__controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.record__content {
  max-width: 500px;
}

.record__title {
  text-align: center;
  margin: 0 0 30px;
}

.record__fields {
  display: grid;
  gap: 25px;
}

.record__item-title {
  margin: 0 0 15px;
}

.record__item-content {
  margin: 0;
}
