.auth-form {
  position: relative;
}

.auth-form__form {
  display: flex;
  flex-direction: column;
}

.auth-form__title {
  margin: 0 0 30px;
  text-align: center;
}

.auth-form__input-wrapper {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  position: relative;
}

.auth-form__input-wrapper:not(:last-of-type) {
  margin-bottom: 25px;
}

.auth-form__input {
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
}

.auth-form__input_invalid {
  border: 1px solid red;
}

.auth-form__button {
  cursor: pointer;
  padding: 5px 8px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
}

.auth-form__button:hover {
  opacity: 0.6;
}

.auth-form__button:active {
  opacity: 0.3;
}

.auth-form__button:not(:last-of-type) {
  margin-right: 20px;
}

.auth-form__button_type_reset {
  color: red;
  border-color: red;
}

.auth-form__controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.auth-form__error {
  margin: 5px 0 0;
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -15px;
}
