@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100%  {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  animation: rotate-infinite .8s linear infinite;
  border: 4px solid #055877;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 100%;
  width: 100%;
  align-self: center;
}
