.header {
  background-color: #e3e3e3;
  width: 100%;
  padding: 24px 20px;
}

.header__inner {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  margin: 0;
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.header__user-name {
  margin: 0 10px 0 0;
}

.header__rollup-btn {
  cursor: pointer;
  margin: 0;
  border: none;
  width: 16px;
  height: 16px;
  padding: 5px;
  background: transparent url("img/icon-rollup.svg") no-repeat 3px 4px;
  background-size: 10px 10px;
}

.header__rollup-btn:hover {
  opacity: 0.6;
}

.header__rollup-btn:hover {
  opacity: 0.3;
}

.header__user-menu {
  width: 100%;
  min-width: 100px;
  position: absolute;
  top: 30px;
  background-color: white;
  border-radius: 5px;
}

.header__logout {
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: center;
  padding: 5px 8px;
  color: red;
  background: transparent;
}

.header__logout:hover {
  opacity: 0.6;
}

.header__logout:active {
  opacity: 0.3;
}

.header__auth-button {
  cursor: pointer;
  border: 2px solid #727272;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: transparent;
  margin: 0;
}

.header__auth-button:hover {
  opacity: 0.6;
}

.header__auth-button:active {
  opacity: 0.3;
}
